<!DOCTYPE html>
<html lang="en">
<head>
  <style>    
    /* Set black background color, white text and some padding */
    body{
       height: 100%;
   width: 100%;

      background-image: url("http://image.shutterstock.com/z/stock-vector-red-green-yellow-blue-shiny-curling-ribbons-or-party-serpentine-with-stellar-confetti-111932231.jpg");
        background-repeat: no-repeat;/*we want to have one single image not a repeated one*/  
        margin-top: 280px;
      text-align: center;
    }
    
  </style>
</head>
<body>

<h1 > CONGRATS!!! YOU HAVE UNLOCKED THE TREASURE.</h1>

<a href="home" class="btn btn-info" role="button">Home</a>
</body>